node_modules/
.DS_Store
patternlab.json
.sass-cache/*
/sass-cache
Thumbs.db
.idea/
public
npm-debug.log
.jshintignore
.jshintrc
.vscode
.floorc.json
.nyc_output
report.html
errorShots/
.dir-locals.el
\**\*
/rest.http
/coverage