<div class="popup__container">
  <div class="popup__wrapper" id="popup" hidden="hidden">
    <div class="popup__backdrop"></div>
    <div class="popup">
      <div class="popup__close-icon"></div>
      <div class="popup__html"></div>
      <div>
        {{> 01-atoms/button/button-v2 }}
        {{> 01-atoms/button/button-v2 }}
      </div>
      <div class="popup__footer"></div>
    </div>
  </div>
</div>