/* ------------------------------------ *\
    #VARIABLES
\* ------------------------------------ */

/*
* Font
*/
$font-family: "DB Sans";
$font-family-icons: "icomoon";
$font-size-text: 16px;
$font-weight-book: 400;
$font-weight-bold: 700;

/*
* Colors
*/
$color-brand: #f01414;

/*
* Spacing
*/
$space-xs: 8px;
$space-sm: 16px;
$space-md: 32px;
$space-lg: 64px;
$space-xl: 128px;
