<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #3592FF;"></span>
		<span class="sg-label">
			$color-brand <br />
			#3592FF
		</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #F1F8FF;"></span>
		<span class="sg-label">
			$color-brand-lighter <br />
			#F1F8FF
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #424c55;"></span>
		<span class="sg-label">
			$color-text <br />
			#424c55
		</span>
	</li>
</ul>
