.card {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.95);
  padding-top: $space-xs;
  margin-bottom: 1.5 * $space-sm;
  opacity: 0;
  transition: 1s all cubic-bezier(0.18, 0.63, 0.18, 1);
}

.card--active {
  opacity: 1;
}

.card__header {
  color: white;
  padding: 0.5 * $space-xs $space-sm;
  background-color: grey;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card__title {
  background-size: contain;
  padding-left: 32px;
  font-size: 12px;
  background-repeat: no-repeat;
}

.card__description {
  padding: $space-sm $space-sm $space-md $space-sm;
  font-size: 18px;
  line-height: 26px;
}

.card__number {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 72px;
  line-height: 1em;
  color: grey;
  opacity: 0.1;

  &::before {
    content: "#";
  }
}

.card--type-letter {
  .card__header {
    background: $color-brand-red;
  }

  .card__number {
    color: $color-brand-red;
  }

  .card__title {
    background-image: url("/images/icons/letter.svg");
  }
}

.card--type-traps {
  .card__header {
    background: $color-brand-blue;
  }

  .card__number {
    color: $color-brand-blue;
  }

  .card__title {
    background-image: url("/images/icons/traps.svg");
  }
}

.card--type-foundation {
  .card__header {
    background: $color-brand-green;
  }

  .card__number {
    color: $color-brand-green;
  }

  .card__title {
    background-image: url("/images/icons/foundation.svg");
  }
}
