<div class="personal-card" data-popup-description="{{popup}}">
    <div class="personal-card__body">
        <div class="personal-card__number">{{ number }}</div>
        <div class="personal-card__description">{{ description }}</div>
    </div>
</div>