.section-home {
  position: relative;
  overflow-x: hidden;

  .card {
    position: relative;
    z-index: 10;
  }
}

.section-home__avatar {
  position: absolute;
  left: 1.6%;
  bottom: 12vw;
  border-radius: 50%;
  overflow: hidden;
}

.section-home__progress-path {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.section-home__name {
  width: 100%;
  color: white;
  bottom: 0;
  position: absolute;
  left: 0;
  font-size: 100px;
  line-height: 1em;
  font-weight: bold;
  -webkit-mask-image: -webkit-gradient(linear, left 0, right bottom, from(black), to(transparent));
  transform: translateY(100%);
  opacity: 0;
  transition: 0.5s all cubic-bezier(0.18, 0.63, 0.18, 1);

  &::before {
    content: "Hallo ";
  }
}

.section-home__name--active {
  opacity: 0.1;
  transform: translateY(0);
}
