<div class="section-home">
    <h1>Deine Übersicht</h1>
    <div class="section-home__cards">
        {{# homecards }}{{> 02-molecules/card/card }}{{/ homecards}}
    </div>
    <div class="section-home__avatar">
        <img src="/images/screens/home/avatar.png" width="30" height="30" />
    </div>
    <div class="section-home__progress-path">
        <img src="/images/screens/home/progress-path.svg" />
    </div>
</div>