<nav class="menu">
    <svg class="menu__icon-chat" width="85" height="85" viewBox="0 0 85 85">
        <use xlink:href="/images/menu/chat.svg#chat" width="85" height="85"></use>
    </svg>
    <svg class="menu__icon-home" width="96" height="85" viewBox="0 0 96 85">
        <use xlink:href="/images/menu/home.svg#home" width="96" height="85"></use>
    </svg>
    <svg class="menu__icon-foundation" width="86" height="85" viewBox="0 0 86 85">
        <use xlink:href="/images/menu/foundation.svg#foundation" width="86" height="85"></use>
    </svg>
    <svg class="menu__icon-letter" width="64" height="85" viewBox="0 0 64 85">
        <use xlink:href="/images/menu/letter.svg#letter" width="64" height="85"></use>
    </svg>
</nav>