<nav class="menu">
    <svg class="menu__icon-home" width="47" height="42" viewBox="0 0 47 42">
        <use xlink:href="/images/menu/home.svg#home" width="47" height="42"></use>
    </svg>
    <svg class="menu__icon-foundation" width="43" height="42" viewBox="0 0 43 42">
        <use xlink:href="/images/menu/foundation.svg#foundation" width="43" height="42"></use>
    </svg>
    <svg class="menu__icon-letter" width="32" height="42" viewBox="0 0 32 42">
        <use xlink:href="/images/menu/letter.svg#letter" width="32" height="42"></use>
    </svg>
</nav>